<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>LISTANDO PESSOAS CADASTRADAS</h1>
    {% for pessoa in pessoas %}
        <li>
            {{pessoa.id}} {{pessoa.nome}}
            <a href="{% url 'editar' pessoa.id %}">Editar</a>
            <a href="{% url 'deletar' pessoa.id %}">Deletar</a>
        </li>
    {% endfor %}

    <hr>

    <h1>CADASTRAR UMA NOVO PESSOA</h1>
    <form action="{% url 'salvar' %}" method="POST">
        {% csrf_token %}
        <div>
            <label>nome</label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
             <label>Data nascimento</label>
            <input type="date" name="data_nascimento" id="data_nascimento">
        </div>
        <div>
            <label>CPF</label>
            <input type="text" name="cpf" id="cpf">
        </div>
        <div>
            <label>RG</label>
            <input type="text" name="rg" id="rg">
        </div>

        <button type="submit">Salvar</button>
    </form>

    <h1>Cadastrar Novo Endereço</h1>
    <form action="{% url 'salvar_endereco' %}" method="POST">
        {% csrf_token %}
        <div>
            <label>Rua/Avenida</label>
            <input type="text" name="logradouro" id="logradouro">
        </div>
        <div>
            <label>Numero</label>
            <input type="text" name="numero" id="numero">
        </div>
        <div>
            <label>Bairro</label>
            <input type="text" name="bairro" id="bairro">
        </div>
        <div>
            <select name="pessoa_id" id="pessoa_id">
            {% for pessoa in pessoas %}
                <option value="{{pessoa.id}}">{{pessoa.nome}}</option>
            {% endfor %}
            </select>                       
        </div>
        <button type="submit">Salvar</button>
    </form>

</body>


