<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{pessoa.id}} {{pessoa.nome}}
    <form action="{% url 'update' pessoa.id %}" method="POST">
        {% csrf_token %}
        <div>
            <label>nome</label>
            <input type="text" name="nome" id="nome" value="{{pessoa.nome}}">
        </div>
        <div>
             <label>Data nascimento</label>
            <input type="date" name="data_nascimento" id="data_nascimento" value="{{pessoa.data_nascimento}}">
        </div>
        <div>
            <label>CPF</label>
            <input type="text" name="cpf" id="cpf" value="{{pessoa.cpf}}">
        </div>
        <div>
            <label>RG</label>
            <input type="text" name="rg" id="rg" value="{{pessoa.rg}}">
        </div>
        <div>
            <label>Rua/Avenida</label>
            <input type="text" name="logradouro" id="logradouro" value="{{endereco.logradouro}}">
        </div>
        <div>
            <label>Numero</label>
            <input type="text" name="numero" id="numero" value="{{endereco.numero}}">
        </div>
        <div>
            <label>Bairro</label>
            <input type="text" name="bairro" id="bairro" value="{{endereco.bairro}}">
        </div>
        <div>
            <label for="">Pessoa</label>
            <select name="pessoa_id" id="pessoa_id">
                <option value="{{pessoa.id}}" selected>{{pessoa.nome}}</option>
            {% for pessoa in pessoas %}
                <option value="{{pessoa.id}}" selected="{{pessoa.id}}">{{pessoa.nome}}</option>
            {% endfor %}
            </select>                       
        </div>
        
        <button type="submit">Salvar</button>
    </form>



</body>
</html>